{% extends "layout.html" %}

{% block content %}
<div class="flex flex-col items-center min-h-screen text-center">
    <h2 class="text-5xl font-bold mb-6">Support</h2>
    <p class="text-lg max-w-screen-lg mb-8">
        Thank you for using The Family Album! Please note that this is a small project developed by a solo developer. As such, support is limited, but I will do my best to assist you. If you need help, you can contact me at 
        <a href="mailto:hantsawilliams@gmail.com" class="text-blue-500 hover:underline">hantsawilliams@gmail.com</a>. 
        Time to respond is typically within 48 hours, during Monday to Friday. Please be aware that I will be responding based on my time zone (Eastern Standard Time - EST). Thank you for your patience and understanding! </p>
    </div>
{% endblock %}
